@using SmartEdu.Models.ORM.Entity
@model List<Zamanlayıcı>


@{
    ViewBag.Title = "DateTime";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="header" style="font-size:30px !important; text-align:center; color:darkgoldenrod">
                <h4 class="title">SAYAÇLAR TABLOSU</h4>
                <p class="category"></p>
            </div>
            <div class="content table-responsive table-full-width">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th>Düzenle</th>
                            <th>Sayaç Adı</th>
                            <th>Tarih</th>
                            
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var date in Model)
                        {
                            <tr>
                                <td><a class="btn btn-warning" href="/AdminPanel/TarihGüncelle/@date.ID">Düzenle</a></td>
                                <td>@date.sayacadı</td>
                                <td>@date.tarih</td>

                                
                            </tr>
                        }

                    </tbody>

                </table>
            </div>
        </div>
    </div>
</div>



